{{ $id := delimit (slice "carousel" (partial "functions/uid.html" .)) "-" }}
{{ $aspect := default "16-9" (.Get "aspectRatio") }}
{{ $interval := default "2000" (.Get "interval") }}
{{ $page := .Page }}
{{ $images := slice }}
{{ $currentDir:= .Page.File.Dir }}
{{ $parentDir := path.Dir $currentDir }}

<!-- Debugging output -->
<!-- <p>Id: {{ $id }}</p> -->
<!-- <p>Aspect Ratio: {{ $aspect }}</p> -->
<!-- <p>Interval: {{ $interval }}</p> -->
<!-- <p>Page path: {{ $page.File.Path }}</p> -->
<!-- <p>Page: {{ $page }}</p> -->
<!-- <p>Current Directory: {{ $currentDir }}</p> -->
<!-- <p>Parent Directory: {{ $parentDir }}</p> -->

{{ $projectNames := .Get "projectName" }}
<!-- <p>Project Names (raw): {{ $projectNames }}</p> -->
{{ $projectNames = strings.TrimPrefix "{" $projectNames }}
<!-- <p>Project Names after TrimPrefix: {{ $projectNames }}</p> -->
{{ $projectNames = strings.TrimSuffix "}" $projectNames }}
<!-- <p>Project Names after TrimSuffix: {{ $projectNames }}</p> -->
{{ $projectNames = split $projectNames "," }}
<!-- <p>Project Names (split): {{ $projectNames }}</p> -->

<!-- Iterate through all content directories to find projects -->
{{ $allPages := .Site.RegularPages }}
<!-- <p> allPages: {{ $allPages}}</p> -->

{{ $matchingPages := slice }}
<!-- Initialize a slice to store matching pages -->
{{ $featureImages := slice }}
<!-- Initialize empty slice for feature images -->

{{ $projectname := "dashboard" }}
<!-- Example projectname to search for -->

{{ range .Site.RegularPages }}
  {{ $page := . }}
  {{ $pageDir := .File.Dir }}
  {{range $projectNames }}
    {{ $projectname := trim . " " }}
    {{ if eq (path.Base $pageDir) $projectname }}
      <!-- Append the matching page to the slice -->
      {{ $matchingPages = $matchingPages | append $page }} 
    {{ end }} 
  {{ end }} 
{{ end}}

<!-- Output the matching pages -->
{{ range $matchingPages }}
  <!-- <p>Matching Page: {{ .RelPermalink }}</p> -->
{{ end }} 
{{ range $matchingPages }} 
  {{ $page_path := .RelPermalink }}

  <!-- Construct path to the directory containing project files -->
  {{ $directoryPath := printf "content%s" $page_path }}
  <!-- <p>directoryPath: {{ $directoryPath }}</p> -->

  <!-- Read directory contents -->
  {{ $files := readDir $directoryPath }}

  <!-- Iterate over files in the directory -->
  {{ range $files }} {{ $fileName := .Name }}
    <!-- <p>fileName: {{ $fileName }}</p> -->
    <!-- Check if file matches the feature image pattern -->
    {{ if findRE `^feature.*\.(jpg|jpeg|png|gif|svg)$` $fileName }}
      <!-- Append matched file to $featureImages -->
      {{ $featureImage := printf "%s/%s" $page_path $fileName }}
      <!-- <p>featureImage: {{ $featureImage }}</p> -->
      {{ $featureImages = $featureImages | append $featureImage }}
      <!-- <p>featureImages: {{ $featureImages }}</p> -->
    {{ end }}
  {{ end }}
<!-- Check if feature images were found -->
<!-- {{ if $featureImages }} -->
<!--     <!-- <p>Feature Images for page {{ $page_path }}:</p> -->
<!--     <div class="image-wrapper"> -->
<!--         {{ range $featureImages }} -->
<!--             <img src="{{ . }}" alt="Feature Image" /> -->
<!--         {{ end }} -->
<!--     </div> -->
<!-- {{ else }} -->
<!--     <!-- If no feature images found -->
<!--     <p>No feature images found for page {{ $page_path }}</p> -->
<!-- {{ end }} -->
{{ end }}

<!-- <p>Images array: {{ $featureImages }}</p> -->

{{ $images := $featureImages}}

<div id="{{ $id }}" class="relative" data-twe-carousel-init data-twe-ride="carousel"
  style="max-width: 800px;  margin: 0 auto;"
>

  <div class="absolute right-0 bottom-0 left-0 z-[2] mx-[15%] mb-10 flex list-none justify-center p-0"
    data-twe-carousel-indicators>
    {{ $num := 0 }} 
    {{ range $images }} 
      {{ $imageURL := printf "%s%s" $.Site.BaseURL . }} 
      {{ $pageURL := replaceRE `feature.*$` "" $imageURL }}
      <!-- <p> $pageURL == {{$pageURL}}</p> -->
      <!-- <p> $images == {{$images}} && $imageURL == {{$imageURL}}</p> -->
      
      <button type="button" 
      data-twe-target="#{{ $id }}" 
      data-twe-slide-to="{{ $num }}" 
      {{ if eq $num 0 }}
        data-twe-carousel-active aria-current="true" 
      {{ end }}
      class="mx-[3px] box-content h-[3px] w-[30px] flex-initial cursor-pointer border-0 border-y-[10px] border-solid border-transparent bg-neutral bg-clip-padding p-0 -indent-[999px] opacity-50 transition-opacity duration-[600ms] ease-[cubic-bezier(0.25,0.1,0.25,1.0)] motion-reduce:transition-none"
      aria-label="Slide {{ $num }}"></button>

      {{ $num = add $num 1 }} 
    {{ end }}
  </div>
  <div class="relative w-full overflow-hidden after:clear-both after:block after:content-['']">
    {{ $num := 0 }} 
    {{ range $images }} 
    {{ $imageURL := printf "%s%s" $.Site.BaseURL . }}
    {{ $pageURL := replaceRE `feature.*$` "" $imageURL }}

    <div
      class="relative float-left -mr-[100%] {{ if not (eq $num 0) }} hidden {{ end }} w-full transition-transform duration-[{{ $interval }}ms] ease-in-out motion-reduce:transition-none"
      data-twe-carousel-item {{ if eq $num 0 }} data-twe-carousel-active {{ end }}
    >
      <a href="{{$pageURL}}">
        <div class="ratio-{{ $aspect }} single_hero_background">
          <img src="{{ $imageURL }}" class="block absolute top-0 object-cover w-full h-full nozoom"
            alt="carousel image {{$num}}" />
        </div>
      </a>
    </div>

    {{ $num = add $num 1 }}
    {{ end }}

  </div>
  <button
    class="absolute top-0 bottom-0 left-0 z-[2] flex w-[15%] items-center justify-center border-0 bg-none p-0 text-center text-white opacity-50 transition-opacity duration-150 ease-[cubic-bezier(0.25,0.1,0.25,1.0)] hover:text-white hover:no-underline hover:opacity-90 hover:outline-none focus:text-white focus:no-underline focus:opacity-90 focus:outline-none motion-reduce:transition-none"
    type="button" data-twe-target="#{{ $id }}" data-twe-slide="prev">
    <span class="inline-block h-8 w-8">
      <svg xmlns="http://www.w3.org/2000/svg" 
      fill="none" 
      viewBox="0 0 24 24" 
      stroke-width="4.5" 
      stroke="currentColor"
      class="h-6 w-6"
      >
          <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5L8.25 12l7.5-7.5" />
      </svg>
    </span>
    <span
      class="!absolute !-m-px !h-px !w-px !overflow-hidden !whitespace-nowrap !border-0 !p-0 ![clip:rect(0,0,0,0)]">Previous</span>
  </button>
  <button
    class="absolute top-0 bottom-0 right-0 z-[1] flex w-[15%] items-center justify-center border-0 bg-none p-0 text-center text-white opacity-50 transition-opacity duration-150 ease-[cubic-bezier(0.25,0.1,0.25,1.0)] hover:text-white hover:no-underline hover:opacity-90 hover:outline-none focus:text-white focus:no-underline focus:opacity-90 focus:outline-none motion-reduce:transition-none"
    type="button" data-twe-target="#{{ $id }}" data-twe-slide="next">
    <span class="inline-block h-8 w-8">
      <svg xmlns="http://www.w3.org/2000/svg" 
      fill="none" viewBox="0 0 24 24" 
      stroke-width="4.5" 
      stroke="currentColor"
      class="h-6 w-6"
      >
        <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5" />
      </svg>
    </span>
    <span
      class="!absolute !-m-px !h-px !w-px !overflow-hidden !whitespace-nowrap !border-0 !p-0 ![clip:rect(0,0,0,0)]">Nextsads</span>
  </button>
</div>
